.a { transition: ease-in-out 1s color 0.5s; }
.b { transition: 200ms linear all; }
.c { transition: opacity 0.3s, transform 0.5s ease; }
.d { transition: 1s cubic-bezier(0.25, 0.1, 0.25, 1) opacity; }
