._1abc { min-width: initial; }
._2def { max-width: initial; }
._3ghi { background-color: transparent; }
._4jkl { color: canvastext; }
._5mno { writing-mode: horizontal-tb; }
._6pqr { transform-box: view-box; }
._7stu { box-sizing: content-box; }
._8vwx { white-space: initial; }
